#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

### Added by the Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

### Used by Mopidy
# http://docs.mopidy.com/en/latest/installation/#os-x-install-from-homebrew-and-pip

export NVM_DIR=~/.nvm

export SECRET_TOKEN=
export GH_API_TOKEN=
export GH_API_USER=
export GH_API_USER_TOKEN=

export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel
source /usr/local/bin/virtualenvwrapper.sh

complete -W "NSGlobalDomain" defaults;
export PYENV_ROOT=/usr/local/var/pyenv
export GNUTERM=X11
export OCTAVE_TERMINAL=X11
export PATH="$PATH:`yarn global bin`"

export PYTHONPATH=$(brew --prefix)/lib/python2.7/site-packages:$PYTHONPATH
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python
export VIRTUALENVWRAPPER_VIRTUALENV=/usr/local/bin/virtualenv
